### Scraping เนื้อข่าว

In [ ]:
#complete
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
#complete
response = requests.get('http://www.it.kmitl.ac.th/~teerapong/news_archive/index.html')
soup = BeautifulSoup(response.content)
print(type(soup))

In [ ]:
#complete

linklist = []
url_prefix='http://www.it.kmitl.ac.th/~teerapong/news_archive/'
for link in soup.select('a[href]'):
    linklist.append(url_prefix + link['href'])
    #print(link['href'])

In [ ]:
linklists = linklist[:12]

In [22]:
linklists

[]

In [26]:
#complete

news_archive_list_link = []
#testlink = 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jan-2017.html'

for link in linklists:
    response = requests.get(link)
    soup = BeautifulSoup(response.content, 'html.parser')
    table_tt = soup.select('td.title > a')
    
    #print id and slicing 
    for i in table_tt :
        href = i['href'][:21]
        news_archive_list_link.append(url_prefix + href)
        #print(href)
#news_archive_list_link.append(news_archive_list_link)

In [27]:
len(news_archive_list_link)

0

In [28]:
#complete
news_archive_list_link_news = []
#testlink = 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jan-2017.html'

for linkk in news_archive_list_link:
    
    response = requests.get(linkk)
    soup = BeautifulSoup(response.content, 'html.parser')
    news = soup.select('div.main > p')  #body > div > div.main body > div > div.main > p:nth-child(9)
    
    output = [' '.join([item.text for item in news])]
    news_archive_list_link_news.append(output)

In [9]:
df = pd.DataFrame(news_archive_list_link_news)
print(df) #complete

Empty DataFrame
Columns: []
Index: []

In [10]:
df.to_csv(r'C:\Users\61070323\Desktop\New folder\เนื้อข่าว_all_final.txt', index = False) #complete

In [11]:
df #complete

Empty DataFrame
Columns: []
Index: []

In [12]:
df.columns = df.columns.astype(str)

In [13]:
df.rename(columns={'0':'Content'}, inplace=True)
df

Empty DataFrame
Columns: []
Index: []

----------------------------

### Scraping Title / Category

In [14]:
news_archive_list_title_cate = []
#testlink = 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jan-2017.html'

for link in linklists:
    response = requests.get(link)
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find('table')
    table_rows = table.find_all('tr')   

    for tr in table_rows:
        td = tr.find_all('td')
        row = [tr.text.replace(u'\xa0','') for tr in td]
        news_archive_list_title_cate.append(row)

In [15]:
news_archive_list_title_cate

[]

In [16]:
len(news_archive_list_title_cate)

0

In [17]:
dff = pd.DataFrame(news_archive_list_title_cate)
print(dff) #complete

Empty DataFrame
Columns: []
Index: []

In [18]:
dff.to_csv(r'C:\Users\61070323\Desktop\New folder\Title_Category.csv', index = False) #complete

In [19]:
dff.columns = dff.columns.astype(str)
dff.rename(columns={'1':'Title','0':'Category'}, inplace=True)

In [20]:
dff

Empty DataFrame
Columns: []
Index: []

In [21]:
dff.Category.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Category'

In [ ]:
dff= dff [dff['Category'] != 'N/A']
dff= dff [dff['Category'] != 'Article Category']

In [ ]:
dff.Category.value_counts()

In [ ]:
#result = pd.concat([df, dff], axis=1)

In [ ]:
dff

In [ ]:
#กลับมา count อีกรอบ
dff.Category.value_counts()

In [ ]:
dff.reset_index(inplace=True, drop=True)

In [ ]:
# combining series and dataframe
res = pd.concat([dff, df], axis=1)

In [ ]:
res

In [ ]:
res.to_csv(r'C:\Users\61070323\Desktop\New folder\รวมม.csv', index = False) #complete

_____________________________________