In [ ]:
import pandas as pd
#df = read_csv(r'C:\Users\61070323\Desktop\New folder\เนื้อข่าวรวม1.csv') #complete
df = pd.read_csv ('../datastore\รวมม.csv')
#print(df)

In [21]:
Content = df['Content']

In [22]:
Content.to_csv(r'C:\Users\61070323\Desktop\Content\Content_news_all.txt', index = False)

In [31]:
df = pd.read_csv (r'C:\Users\61070323\Desktop\Content\Content_news_all.txt')
print("Read %d raw text documents" % len(df))

Read 1408 raw text documents

In [34]:
df

                                                Content
0      The sporting industry has come a long way sin...
1     Asian quake hits European shares  Shares in Eu...
2      BT is offering customers free internet teleph...
3     Barclays shares up on merger talk  Shares in U...
4      England centre Olly Barkley has been passed f...
...                                                 ...
1403  Woodward eyes Brennan for Lions  Toulouse's fo...
1404   The trial of Bernie Ebbers, former chief exec...
1405  Yukos accused of lying to court  Russian oil f...
1406   Russian oil company Yukos has dropped the thr...
1407   Zambia's technical director, Kalusha Bwalya i...

[1408 rows x 1 columns]

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
tokenize = CountVectorizer().build_tokenizer()
# convert to lowercase, then tokenize
tokens1 = tokenize(df.lower())
print(tokens1)

AttributeError: 'DataFrame' object has no attribute 'lower'