In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
response = requests.get('https://quotes.toscrape.com/')
soup = BeautifulSoup(response.content)

In [3]:
links = []
for page in range(1,11):
    if page == 1: 
        url = "http://quotes.toscrape.com"
    else: 
        url = "http://quotes.toscrape.com/page/"+str(page)
    links.append(url)

In [4]:
from bs4 import BeautifulSoup
import requests
tt = []
    #print(url)
for linkk in links:
    page = requests.get(linkk)
    soup = BeautifulSoup(page.content, 'html.parser')
    #quotes = soup.find_all('div', class_='quote')
    
    for q in soup.find_all("div", {"class":"quote"}):
        dictt = {}
        dictt['quote'] = q.find('span', class_='text').text
        dictt['author'] = q.find('small', class_='author').text
        dictt['tags'] = [tag.text for tag in q.find_all("a",{"class":"tag"})]
        tt.append(dictt)


    
#news_archive_list_link_news = []
#testlink = 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jan-2017.html'

In [5]:
quote_all= []
for linkk in links:
    page = requests.get(linkk)
    soup = BeautifulSoup(page.content, 'html.parser')
    #quotes = soup.find_all('div', class_='quote')
    
    for q in soup.find_all("div", {"class":"quote"}):
        dictt = {}
        dictt['quote'] = q.find('span', class_='text').text
        #dictt[author] = q.find('small', class_='author').text
        #dictt['tags'] = [tag.text for tag in q.find_all("a",{"class":"tag"})]
        quote_all.append(dictt)

In [6]:
dff = pd.DataFrame(tt)
#print(dff) #complete

In [7]:
dff.columns

Index(['quote', 'author', 'tags'], dtype='object')

In [8]:
dff = dff.set_axis(['quote', 'author', 'tags'], axis=1, inplace=False)

In [9]:
import pandas
from sklearn.preprocessing import MultiLabelBinarizer


# Binarise labels
mlb = MultiLabelBinarizer()
expandedLabelData = mlb.fit_transform(dff["tags"])
labelClasses = mlb.classes_


# Create a pandas.DataFrame from our output
expandedLabels = pandas.DataFrame(expandedLabelData, columns=labelClasses)

In [10]:
expandedLabels

,abilities,activism,adulthood,adventure,age,alcohol,aliteracy,apathy,attributed,attributed-no-source,...,unhappy-marriage,value,wander,wisdom,women,world,write,writers,writing,yourself
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
expandedLabels.dtypes

abilities    int32
activism     int32
adulthood    int32
adventure    int32
age          int32
             ...
world        int32
write        int32
writers      int32
writing      int32
yourself     int32
Length: 137, dtype: object

In [12]:
expandedLabels.to_csv('datastore\expandedLabels.csv', index = False)

In [13]:
drop_dff = dff.drop(['tags','quote'], axis=1)
drop_dff

                author
0      Albert Einstein
1         J.K. Rowling
2      Albert Einstein
3          Jane Austen
4       Marilyn Monroe
..                 ...
95          Harper Lee
96   Madeleine L'Engle
97          Mark Twain
98           Dr. Seuss
99  George R.R. Martin

[100 rows x 1 columns]

In [14]:
data1 = pd.concat([drop_dff, expandedLabels], axis=1)

---------------------------------

In [ ]:
Content = dff['quote']

In [ ]:
text_list =Content

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction import text
stopwords = text.ENGLISH_STOP_WORDS
tokenize = CountVectorizer().build_tokenizer()
all_filtered_tokens = []
for doc in text_list:
    # tokenize the next document
    tokens = tokenize(doc.lower())
    # remove the stopwords
    filtered_tokens = []  
    for token in tokens:
        if not token in stopwords:
            filtered_tokens.append(token)
    filtered_tokens = ' '.join(filtered_tokens)
    # add to the overall list
    all_filtered_tokens.append(filtered_tokens)
print("Created %d filtered token lists" % len(all_filtered_tokens) )

In [ ]:
all_filtered_tokens

In [ ]:
import re
import string

def clean_msg(msg):

    # ลบ text ที่อยู่ในวงเล็บ <> ทั้งหมด
    msg = re.sub(r'<.*?>','', msg)
    
    # ลบ hashtag
    msg = re.sub(r'#','',msg)
    
    # ลบ เครื่องหมายคำพูด (punctuation)
    for c in string.punctuation:
        msg = re.sub(r'\{}'.format(c),'',msg)
    
    # ลบ separator เช่น \n \t
    msg = ' '.join(msg.split())
    
    msg = [''.join(i for i in msg if not i.isnumeric())]
    
    return msg

In [ ]:
clean_text = [clean_msg(txt) for txt in text_list]

In [ ]:
doc1 = clean_text

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction import text
stopwords = text.ENGLISH_STOP_WORDS
tokenize = CountVectorizer().build_tokenizer()
all_filtered_tokens = []
for doc in doc1:
    # tokenize the next document
    tokens = tokenize(doc.lower())
    # remove the stopwords
    filtered_tokens = []  
    for token in tokens:
        if not token in stopwords:
            filtered_tokens.append(token)
    filtered_tokens = ' '.join(filtered_tokens)
    # add to the overall list
    all_filtered_tokens.append(filtered_tokens)
print("Created %d filtered token lists" % len(all_filtered_tokens) )

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words="english",min_df = 5)
tfidf_matrix = vectorizer.fit_transform(all_filtered_tokens)
feature_names = vectorizer.get_feature_names()
dense = tfidf_matrix.todense()
denselist = dense.tolist()

In [ ]:
df = pd.DataFrame(denselist, columns=feature_names)
df

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

# Create the Document Term Matrix
count_vectorizer = CountVectorizer(stop_words='english')
count_vectorizer = CountVectorizer()
sparse_matrix = count_vectorizer.fit_transform(all_filtered_tokens)

# OPTIONAL: Convert Sparse Matrix to Pandas Dataframe if you want to see the word frequencies.
doc_term_matrix = sparse_matrix.todense()
df = pd.DataFrame(doc_term_matrix, 
                  columns=count_vectorizer.get_feature_names())
df

## Visualize Existing Data

-----------------------------------

In [ ]:
df_quote = pd.DataFrame(all_filtered_tokens)
df_quote = df_quote.set_axis(['quote'], axis=1, inplace=False)

In [ ]:
df_quote.dtypes

In [ ]:
df_quote

In [ ]:
#choose top 15 tags
test = expandedLabels.sum(axis=0).sort_values(ascending=False)
test.head(15)

In [ ]:
top15 = expandedLabels[['love','life','inspirational','humor','books','reading','friendship','truth','friends','attributed-no-source','death','simile','writing','philosophy','paraphrased']]

In [ ]:
top15

In [ ]:
data1 = pd.concat([drop_dff,top15], axis=1)

In [ ]:
data = pd.concat([df_quote,data1], axis=1)

data

----------------------------------------------

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from numpy import mean
from numpy import absolute
from numpy import sqrt
import pandas as pd

In [ ]:
import sklearn
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold


# Leave one out CV 
X = data[['quote','author']].values
y = data[['love','life','inspirational','humor','books','reading','friendship','truth','friends','attributed-no-source','death','simile','writing','philosophy','paraphrased']].values
 #kfold = KFold(n_splits = len(y), shuffle = True, random_state= 0 )

In [ ]:

import sklearn
print (sklearn.__version__)

In [ ]:
X = data[['quote','author']]
y = data[['love','life','inspirational','humor','books','reading','friendship','truth','friends','attributed-no-source','death','simile','writing','philosophy','paraphrased']]
cv = LeaveOneOut()
model = LinearRegression()
scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error',
                         cv=cv, n_jobs=-1)

#view mean absolute error
sqrt(mean(absolute(scores)))

In [ ]:
import numpy as np
from sklearn.model_selection import LeaveOneOut
X = data[['quote','author']]
y = data[['love','life','inspirational','humor','books','reading','friendship','truth','friends','attributed-no-source','death','simile','writing','philosophy','paraphrased']]
loo = LeaveOneOut()
print(loo)