# Assignment 2 - DS4Biz Y63
## TextScraping_Classification
***

### Team Detail
**Team Name**: woonoh 
***
### *Student 1*
**Student ID**: 61070313
**Student Full Name**: XXXXXXX XXXXXXXX
***
### *Student 2*
**Student ID**: 61070323   
**Student Full Name**: XXXXXXX XXXXXXXX
***

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
response = requests.get('https://quotes.toscrape.com/')
soup = BeautifulSoup(response.content)

In [3]:
links = []
for page in range(1,11):
    if page == 1: 
        url = "http://quotes.toscrape.com"
    else: 
        url = "http://quotes.toscrape.com/page/"+str(page)
    links.append(url)

In [4]:
from bs4 import BeautifulSoup
import requests
tt = []
    #print(url)
for linkk in links:
    page = requests.get(linkk)
    soup = BeautifulSoup(page.content, 'html.parser')
    #quotes = soup.find_all('div', class_='quote')
    
    for q in soup.find_all("div", {"class":"quote"}):
        dictt = {}
        dictt['quote'] = q.find('span', class_='text').text
        dictt['author'] = q.find('small', class_='author').text
        dictt['tags'] = [tag.text for tag in q.find_all("a",{"class":"tag"})]
        tt.append(dictt)


    
#news_archive_list_link_news = []
#testlink = 'http://www.it.kmitl.ac.th/~teerapong/news_archive/month-jan-2017.html'

In [5]:
quote_all= []
for linkk in links:
    page = requests.get(linkk)
    soup = BeautifulSoup(page.content, 'html.parser')
    #quotes = soup.find_all('div', class_='quote')
    
    for q in soup.find_all("div", {"class":"quote"}):
        dictt = {}
        dictt['quote'] = q.find('span', class_='text').text
        #dictt[author] = q.find('small', class_='author').text
        #dictt['tags'] = [tag.text for tag in q.find_all("a",{"class":"tag"})]
        quote_all.append(dictt)

In [6]:
dff = pd.DataFrame(tt)
#print(dff) #complete

In [8]:
dff.columns

Index(['quote', 'author', 'tags'], dtype='object')

In [9]:
#dff = dff.set_axis(['quote', 'author', 'tags'], axis=1, inplace=False)

In [10]:
import pandas
from sklearn.preprocessing import MultiLabelBinarizer


# Binarise labels
mlb = MultiLabelBinarizer()
expandedLabelData = mlb.fit_transform(dff["tags"])
labelClasses = mlb.classes_


# Create a pandas.DataFrame from our output
expandedLabels = pandas.DataFrame(expandedLabelData, columns=labelClasses)

In [11]:
expandedLabels

,abilities,activism,adulthood,adventure,age,alcohol,aliteracy,apathy,attributed,attributed-no-source,...,unhappy-marriage,value,wander,wisdom,women,world,write,writers,writing,yourself
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
expandedLabels.dtypes

abilities    int32
activism     int32
adulthood    int32
adventure    int32
age          int32
             ...
world        int32
write        int32
writers      int32
writing      int32
yourself     int32
Length: 137, dtype: object

In [13]:
expandedLabels.to_csv('datastore\expandedLabels.csv', index = False)

In [23]:
drop_dff = dff.drop(['tags','quote'], axis=1)
drop_dff

                author
0      Albert Einstein
1         J.K. Rowling
2      Albert Einstein
3          Jane Austen
4       Marilyn Monroe
..                 ...
95          Harper Lee
96   Madeleine L'Engle
97          Mark Twain
98           Dr. Seuss
99  George R.R. Martin

[100 rows x 1 columns]

In [24]:
data1 = pd.concat([drop_dff, expandedLabels], axis=1)

In [26]:
#data1

---------------------------------

In [27]:
Content = dff['quote']

In [28]:
text_list =Content

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction import text
stopwords = text.ENGLISH_STOP_WORDS
tokenize = CountVectorizer().build_tokenizer()
all_filtered_tokens = []
for doc in text_list:
    # tokenize the next document
    tokens = tokenize(doc.lower())
    # remove the stopwords
    filtered_tokens = []  
    for token in tokens:
        if not token in stopwords:
            filtered_tokens.append(token)
    filtered_tokens = ' '.join(filtered_tokens)
    # add to the overall list
    all_filtered_tokens.append(filtered_tokens)
print("Created %d filtered token lists" % len(all_filtered_tokens) )

Created 100 filtered token lists

In [30]:
all_filtered_tokens

['world created process thinking changed changing thinking',
 'choices harry truly far abilities',
 'ways live life miracle miracle',
 'person gentleman lady pleasure good novel intolerably stupid',
 'imperfection beauty madness genius better absolutely ridiculous absolutely boring',
 'try man success man value',
 'better hated loved',
 'failed ve just 10 000 ways won work',
 'woman like tea bag know strong hot water',
 'day sunshine like know night',
 'life make matter going mess universal truth good decide going mess girls friends ll act like just remember come ones stay true best friends don let remember sisters make best friends world lovers ll come baby hate say actually pretty going break heart ll soulmate ll half makes goes just fail doesn mean gonna fail trying hold believe don sweetie head high chin importantly smiling life beautiful thing smile',
 'takes great deal bravery stand enemies just stand friends',
 'explain year old don understand',
 'loved love loves matters perfect aren perfect make laugh cause think twice admit human making mistakes hold thinking second day knows break heart don hurt don change don analyze don expect smile makes happy let know makes mad miss',
 'like nonsense wakes brain cells fantasy necessary ingredient living',
 'gone intended think ended needed',
 'opposite love hate indifference opposite art ugliness indifference opposite faith heresy indifference opposite life death indifference',
 'lack love lack friendship makes unhappy marriages',
 'good friends good books sleepy conscience ideal life',
 'life happens making plans',
 'love knowing love simply problems pride love way know way loving intimate hand chest hand intimate fall asleep eyes close',
 'minute angry lose seconds happiness',
 'judge people time love',
 'thinks sitting church make christian think sitting garage make car',
 'beauty eye beholder necessary time time stupid misinformed beholder black eye',
 'today truer true alive youer',
 'want children intelligent read fairy tales want intelligent read fairy tales',
 'impossible live failing unless live cautiously lived case fail default',
 'logic imagination',
 'good thing music hits feel pain',
 'read things know learn places ll',
 'course happening inside head harry earth mean real',
 'truth going hurt just got ones worth suffering',
 'great things small things great love',
 'organized mind death great adventure',
 'need love little chocolate doesn hurt',
 'read know',
 'fool know point understand',
 'imagined paradise kind library',
 'late',
 'reader lives thousand lives dies said jojen man reads lives',
 'cup tea large book long suit',
 'believe lies eventually learn trust',
 'make woman laugh make',
 'life like riding bicycle balance moving',
 'real lover man thrill kissing forehead smiling eyes just staring space',
 'wise girl kisses doesn love listens doesn believe leaves left',
 'darkness stars',
 'matters born grow',
 'love does begin end way think does love battle love war love growing',
 'really friends notion loving people halves nature',
 'thing day scares',
 'good angel sin devil just small girl big world trying love',
 'physicist probably musician think music live daydreams music life terms music',
 'read books reading think thinking',
 'difference genius stupidity genius limits',
 'like drug bella',
 'friend loyal book',
 'door happiness closes opens look long closed door opened',
 'life isn finding life creating',
 'problem drinking thought poured drink bad happens drink attempt forget good happens drink order celebrate happens drink make happen',
 'don forget face person hope',
 'remember madly love right kiss anytime feel like',
 'love vulnerable love heart wrung possibly broken want make sure keeping intact animal wrap carefully round hobbies little luxuries avoid entanglements lock safe casket coffin selfishness casket safe dark motionless airless change broken unbreakable impenetrable irredeemable love vulnerable',
 'wander lost',
 'pity dead harry pity living live love',
 'writing sit typewriter bleed',
 'finish day blunders absurdities doubt crept forget soon tomorrow new day shall begin serenely high spirit encumbered old nonsense',
 'let schooling interfere education',
 'heard troubles kind come ahead come ve bought big bat ready troubles going troubles',
 'flower time thought walk garden forever',
 'people crazy truly horrible lives lead',
 'trouble having open mind course people insist coming trying things',
 'think left think right think low think high oh thinks think try',
 'really knocks book reading wish author wrote terrific friend phone felt like doesn happen',
 'reason talk answers accept',
 'say dreamer hope someday ll join world live',
 'free prejudice hate equally',
 'question isn going let going stop',
 'classic book people praise don read',
 'mistake tried new',
 'lady imagination rapid jumps admiration love love matrimony moment',
 'remember time come make choice right easy remember happened boy good kind brave strayed path lord voldemort remember cedric diggory',
 'declare enjoyment like reading sooner tires thing book house shall miserable excellent library',
 'people really love fewer think world dissatisfied day confirms belief inconsistency human characters little dependence placed appearance merit sense',
 'day old start reading fairy tales',
 'necessarily doubting god best wondering painful best turn',
 'fear death follows fear life man lives fully prepared die time',
 'lie travel half way world truth putting shoes',
 'believe christianity believe sun risen',
 'truth dumbledore sighed beautiful terrible thing treated great caution',
 'got die time die let live life way want',
 'die awfully big adventure',
 'takes courage grow really',
 'better hurt truth comforted lie',
 'really understand person consider things point view climb inside skin walk',
 'write book wants written book difficult grown ups write children',
 'tell truth people worthy',
 'person person matter small',
 'mind needs books sword needs whetstone edge']

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words="english",min_df = 5)
tfidf_matrix = vectorizer.fit_transform(all_filtered_tokens)
feature_names = vectorizer.get_feature_names()
dense = tfidf_matrix.todense()
denselist = dense.tolist()

In [32]:
df = pd.DataFrame(denselist, columns=feature_names)
df

,book,day,don,good,just,know,let,life,like,live,love,make,people,read,really,thing,think,time,truth,world
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.659278,0.0,0.751899,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
96,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
97,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.693882,0.0,0.0,0.0,0.0,0.0,0.720088,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

# Create the Document Term Matrix
count_vectorizer = CountVectorizer(stop_words='english')
count_vectorizer = CountVectorizer()
sparse_matrix = count_vectorizer.fit_transform(all_filtered_tokens)

# OPTIONAL: Convert Sparse Matrix to Pandas Dataframe if you want to see the word frequencies.
doc_term_matrix = sparse_matrix.todense()
df = pd.DataFrame(doc_term_matrix, 
                  columns=count_vectorizer.get_feature_names())
df

,000,10,abilities,absolutely,absurdities,accept,act,actually,admiration,admit,...,worth,worthy,wrap,write,writing,written,wrote,wrung,year,youer
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,1,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Visualize Existing Data

-----------------------------------

In [34]:
df_quote = pd.DataFrame(all_filtered_tokens)
df_quote = df_quote.set_axis(['quote'], axis=1, inplace=False)

In [35]:
df_quote.dtypes

quote    object
dtype: object

In [36]:
df_quote

                                                quote
0   world created process thinking changed changin...
1                   choices harry truly far abilities
2                      ways live life miracle miracle
3   person gentleman lady pleasure good novel into...
4   imperfection beauty madness genius better abso...
..                                                ...
95  really understand person consider things point...
96  write book wants written book difficult grown ...
97                           tell truth people worthy
98                         person person matter small
99        mind needs books sword needs whetstone edge

[100 rows x 1 columns]

In [37]:
#choose top 15 tags
test = expandedLabels.sum(axis=0).sort_values(ascending=False)
test.head(15)

love                    14
life                    13
inspirational           13
humor                   12
books                   11
reading                  7
friendship               5
truth                    4
friends                  4
attributed-no-source     3
death                    3
simile                   3
writing                  3
philosophy               2
paraphrased              2
dtype: int64

In [38]:
top15 = expandedLabels[['love','life','inspirational','humor','books','reading','friendship','truth','friends','attributed-no-source','death','simile','writing','philosophy','paraphrased']]

In [39]:
top15

,love,life,inspirational,humor,books,reading,friendship,truth,friends,attributed-no-source,death,simile,writing,philosophy,paraphrased
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
97,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
98,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [40]:
data1 = pd.concat([drop_dff,top15], axis=1)

In [43]:
data = pd.concat([df_quote,data1], axis=1)
data.dtypes

quote                   object
author                  object
love                     int32
life                     int32
inspirational            int32
humor                    int32
books                    int32
reading                  int32
friendship               int32
truth                    int32
friends                  int32
attributed-no-source     int32
death                    int32
simile                   int32
writing                  int32
philosophy               int32
paraphrased              int32
dtype: object

In [45]:
data

,quote,author,love,life,inspirational,humor,books,reading,friendship,truth,friends,attributed-no-source,death,simile,writing,philosophy,paraphrased
0,world created process thinking changed changin...,Albert Einstein,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,choices harry truly far abilities,J.K. Rowling,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,ways live life miracle miracle,Albert Einstein,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
3,person gentleman lady pleasure good novel into...,Jane Austen,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0
4,imperfection beauty madness genius better abso...,Marilyn Monroe,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,really understand person consider things point...,Harper Lee,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
96,write book wants written book difficult grown ...,Madeleine L'Engle,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
97,tell truth people worthy,Mark Twain,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
98,person person matter small,Dr. Seuss,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
99,mind needs books sword needs whetstone edge,George R.R. Martin,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

----------------------------------------------

In [158]:
import numpy as np
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import cross_val_score
from numpy import mean
from numpy import absolute
from numpy import sqrt

X = data['quote']
Y= data[['love','life','inspirational','humor','books','reading','friendship','truth','friends','attributed-no-source','death','simile','writing','philosophy','paraphrased']]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state= 12)

In [159]:
vectorizer = CountVectorizer(binary=True) # "binary=True" means that simply using binary representation
vectorizer.fit(X_train)

CountVectorizer(binary=True)

In [160]:
vectorizer = CountVectorizer(min_df=0, lowercase=False)
vectorizer.fit(X)
vectorizer.vocabulary_

{'world': 490,
 'created': 97,
 'process': 362,
 'thinking': 438,
 'changed': 70,
 'changing': 71,
 'choices': 78,
 'harry': 199,
 'truly': 454,
 'far': 155,
 'abilities': 2,
 'ways': 482,
 'live': 269,
 'life': 264,
 'miracle': 306,
 'person': 343,
 'gentleman': 176,
 'lady': 252,
 'pleasure': 350,
 'good': 184,
 'novel': 327,
 'intolerably': 234,
 'stupid': 417,
 'imperfection': 221,
 'beauty': 35,
 'madness': 292,
 'genius': 175,
 'better': 42,
 'absolutely': 3,
 'ridiculous': 375,
 'boring': 50,
 'try': 457,
 'man': 296,
 'success': 419,
 'value': 469,
 'hated': 201,
 'loved': 282,
 'failed': 149,
 've': 470,
 'just': 241,
 '10': 1,
 '000': 0,
 'won': 487,
 'work': 489,
 'woman': 486,
 'like': 265,
 'tea': 430,
 'bag': 30,
 'know': 248,
 'strong': 416,
 'hot': 213,
 'water': 480,
 'day': 103,
 'sunshine': 423,
 'night': 324,
 'make': 293,
 'matter': 299,
 'going': 181,
 'mess': 303,
 'universal': 466,
 'truth': 456,
 'decide': 108,
 'girls': 178,
 'friends': 170,
 'll': 273,
 'act': 6,
 'remember': 374,
 'come': 88,
 'ones': 330,
 'stay': 413,
 'true': 452,
 'best': 41,
 'don': 121,
 'let': 260,
 'sisters': 395,
 'lovers': 284,
 'baby': 28,
 'hate': 200,
 'say': 382,
 'actually': 7,
 'pretty': 357,
 'break': 57,
 'heart': 205,
 'soulmate': 406,
 'half': 190,
 'makes': 294,
 'goes': 180,
 'fail': 148,
 'doesn': 120,
 'mean': 301,
 'gonna': 183,
 'trying': 458,
 'hold': 210,
 'believe': 39,
 'sweetie': 425,
 'head': 203,
 'high': 207,
 'chin': 75,
 'importantly': 222,
 'smiling': 402,
 'beautiful': 34,
 'thing': 435,
 'smile': 401,
 'takes': 427,
 'great': 186,
 'deal': 106,
 'bravery': 56,
 'stand': 409,
 'enemies': 137,
 'explain': 144,
 'year': 499,
 'old': 329,
 'understand': 464,
 'love': 281,
 'loves': 285,
 'matters': 300,
 'perfect': 342,
 'aren': 21,
 'laugh': 255,
 'cause': 63,
 'think': 437,
 'twice': 460,
 'admit': 9,
 'human': 215,
 'making': 295,
 'mistakes': 311,
 'second': 385,
 'knows': 250,
 'hurt': 216,
 'change': 69,
 'analyze': 14,
 'expect': 143,
 'happy': 198,
 'mad': 290,
 'miss': 309,
 'nonsense': 325,
 'wakes': 474,
 'brain': 54,
 'cells': 68,
 'fantasy': 154,
 'necessary': 319,
 'ingredient': 226,
 'living': 272,
 'gone': 182,
 'intended': 231,
 'ended': 136,
 'needed': 321,
 'opposite': 334,
 'indifference': 225,
 'art': 22,
 'ugliness': 462,
 'faith': 152,
 'heresy': 206,
 'death': 107,
 'lack': 251,
 'friendship': 171,
 'unhappy': 465,
 'marriages': 297,
 'books': 49,
 'sleepy': 399,
 'conscience': 92,
 'ideal': 217,
 'happens': 196,
 'plans': 349,
 'knowing': 249,
 'simply': 393,
 'problems': 361,
 'pride': 358,
 'way': 481,
 'loving': 286,
 'intimate': 233,
 'hand': 192,
 'chest': 73,
 'fall': 153,
 'asleep': 23,
 'eyes': 146,
 'close': 84,
 'minute': 305,
 'angry': 16,
 'lose': 279,
 'seconds': 386,
 'happiness': 197,
 'judge': 239,
 'people': 341,
 'time': 443,
 'thinks': 439,
 'sitting': 397,
 'church': 81,
 'christian': 79,
 'garage': 173,
 'car': 59,
 'eye': 145,
 'beholder': 37,
 'misinformed': 308,
 'black': 45,
 'today': 445,
 'truer': 453,
 'alive': 13,
 'youer': 500,
 'want': 477,
 'children': 74,
 'intelligent': 230,
 'read': 366,
 'fairy': 151,
 'tales': 428,
 'impossible': 223,
 'failing': 150,
 'unless': 467,
 'cautiously': 65,
 'lived': 270,
 'case': 61,
 'default': 110,
 'logic': 275,
 'imagination': 218,
 'music': 315,
 'hits': 208,
 'feel': 157,
 'pain': 337,
 'things': 436,
 'learn': 257,
 'places': 348,
 'course': 95,
 'happening': 195,
 'inside': 227,
 'earth': 130,
 'real': 371,
 'got': 185,
 'worth': 491,
 'suffering': 420,
 'small': 400,
 'organized': 336,
 'mind': 304,
 'adventure': 10,
 'need': 320,
 'little': 268,
 'chocolate': 76,
 'fool': 164,
 'point': 351,
 'imagined': 219,
 'paradise': 339,
 'kind': 243,
 'library': 261,
 'late': 254,
 'reader': 367,
 'lives': 271,
 'thousand': 441,
 'dies': 114,
 'said': 381,
 'jojen': 238,
 'reads': 369,
 'cup': 100,
 'large': 253,
 'book': 48,
 'long': 276,
 'suit': 421,
 'lies': 263,
 'eventually': 141,
 'trust': 455,
 'riding': 376,
 'bicycle': 43,
 'balance': 31,
 'moving': 314,
 'lover': 283,
 'thrill': 442,
 'kissing': 246,
 'forehead': 165,
 'staring': 410,
 'space': 407,
 'wise': 484,
 'girl': 177,
 'kisses': 245,
 'listens': 267,
 'leaves': 258,
 'left': 259,
 'darkness': 102,
 'stars': 411,
 'born': 51,
 'grow': 187,
 'does': 119,
 'begin': 36,
 'end': 135,
 'battle': 33,
 'war': 479,
 'growing': 188,
 'really': 372,
 'notion': 326,
 'halves': 191,
 'nature': 317,
 'scares': 383,
 'angel': 15,
 'sin': 394,
 'devil': 112,
 'big': 44,
 'physicist': 345,
 'probably': 359,
 'musician': 316,
 'daydreams': 104,
 'terms': 432,
 'reading': 368,
 'difference': 115,
 'stupidity': 418,
 'limits': 266,
 'drug': 128,
 'bella': 40,
 'friend': 169,
 'loyal': 288,
 'door': 122,
 'closes': 86,
 'opens': 333,
 'look': 277,
 'closed': 85,
 'opened': 332,
 'isn': 236,
 'finding': 160,
 'creating': 98,
 'problem': 360,
 'drinking': 127,
 'thought': 440,
 'poured': 353,
 'drink': 126,
 'bad': 29,
 'attempt': 24,
 'forget': 167,
 'order': 335,
 'celebrate': 67,
 'happen': 193,
 'face': 147,
 'hope': 211,
 'madly': 291,
 'right': 377,
 'kiss': 244,
 'anytime': 19,
 'vulnerable': 473,
 'wrung': 498,
 'possibly': 352,
 'broken': 58,
 'sure': 424,
 'keeping': 242,
 'intact': 229,
 'animal': 17,
 'wrap': 493,
 'carefully': 60,
 'round': 379,
 'hobbies': 209,
 'luxuries': 289,
 'avoid': 26,
 'entanglements': 139,
 'lock': 274,
 'safe': 380,
 'casket': 62,
 'coffin': 87,
 'selfishness': 387,
 'dark': 101,
 'motionless': 313,
 'airless': 12,
 'unbreakable': 463,
 'impenetrable': 220,
 'irredeemable': 235,
 'wander': 476,
 'lost': 280,
 'pity': 346,
 'dead': 105,
 'writing': 495,
 'sit': 396,
 'typewriter': 461,
 'bleed': 46,
 'finish': 161,
 'blunders': 47,
 'absurdities': 4,
 'doubt': 123,
 'crept': 99,
 'soon': 404,
 'tomorrow': 446,
 'new': 323,
 'shall': 390,
 'serenely': 389,
 'spirit': 408,
 'encumbered': 134,
 'schooling': 384,
 'interfere': 232,
 'education': 133,
 'heard': 204,
 'troubles': 451,
 'ahead': 11,
 'bought': 52,
 'bat': 32,
 'ready': 370,
 'flower': 162,
 'walk': 475,
 'garden': 174,
 'forever': 166,
 'crazy': 96,
 'horrible': 212,
 'lead': 256,
 'trouble': 450,
 'having': 202,
 'open': 331,
 'insist': 228,
 'coming': 90,
 'low': 287,
 'oh': 328,
 'knocks': 247,
 'wish': 485,
 'author': 25,
 'wrote': 497,
 'terrific': 434,
 'phone': 344,
 'felt': 158,
 'reason': 373,
 'talk': 429,
 'answers': 18,
 'accept': 5,
 'dreamer': 125,
 'someday': 403,
 'join': 237,
 'free': 168,
 'prejudice': 355,
 'equally': 140,
 'question': 364,
 'stop': 414,
 'classic': 82,
 'praise': 354,
 'mistake': 310,
 'tried': 449,
 'rapid': 365,
 'jumps': 240,
 'admiration': 8,
 'matrimony': 298,
 'moment': 312,
 'choice': 77,
 'easy': 131,
 'happened': 194,
 'boy': 53,
 'brave': 55,
 'strayed': 415,
 'path': 340,
 'lord': 278,
 'voldemort': 472,
 'cedric': 66,
 'diggory': 117,
 'declare': 109,
 'enjoyment': 138,
 'sooner': 405,
 'tires': 444,
 'house': 214,
 'miserable': 307,
 'excellent': 142,
 'fewer': 159,
 'dissatisfied': 118,
 'confirms': 91,
 'belief': 38,
 'inconsistency': 224,
 'characters': 72,
 'dependence': 111,
 'placed': 347,
 'appearance': 20,
 'merit': 302,
 'sense': 388,
 'start': 412,
 'necessarily': 318,
 'doubting': 124,
 'god': 179,
 'wondering': 488,
 'painful': 338,
 'turn': 459,
 'fear': 156,
 'follows': 163,
 'fully': 172,
 'prepared': 356,
 'die': 113,
 'lie': 262,
 'travel': 447,
 'putting': 363,
 'shoes': 391,
 'christianity': 80,
 'sun': 422,
 'risen': 378,
 'dumbledore': 129,
 'sighed': 392,
 'terrible': 433,
 'treated': 448,
 'caution': 64,
 'awfully': 27,
 'courage': 94,
 'comforted': 89,
 'consider': 93,
 'view': 471,
 'climb': 83,
 'skin': 398,
 'write': 494,
 'wants': 478,
 'written': 496,
 'difficult': 116,
 'grown': 189,
 'ups': 468,
 'tell': 431,
 'worthy': 492,
 'needs': 322,
 'sword': 426,
 'whetstone': 483,
 'edge': 132}

In [161]:
vectorizer.transform(X).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [191]:
X_train_binary = vectorizer.transform(X_train)
X_test_binary = vectorizer.transform(X_test)

In [192]:
#from sklearn.linear_model import LinearRegression
#cv = LeaveOneOut()

#build multiple linear regression model
#model = LinearRegression()

#use LOOCV to evaluate model
#scores = cross_val_score(model, X_train_binary , Y_train, scoring='neg_mean_squared_error',
                         #cv=cv, n_jobs=-1)

#view RMSE
#sqrt(mean(absolute(scores)))

# Randomforest

In [193]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier()

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train_binary,Y_train)

y_pred=clf.predict(X_test_binary)


from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(Y_test, y_pred) * 100)

Accuracy: 60.0

ValueError: Invalid parameter bootstrap for estimator DecisionTreeClassifier(max_depth=50). Check the list of available parameters with `estimator.get_params().keys()`.

In [ ]:
grid_search.best_params_

In [171]:
#from sklearn.linear_model import LogisticRegression

In [183]:
#from sklearn import svm

#Create a svm Classifier
#clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
#clf.fit(X_train_binary,Y_train)

#Predict the response for test dataset
#y_pred = clf.predict(X_test_binary)
#print("Accuracy:",metrics.accuracy_score(Y_test, y_pred))

In [197]:
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier


# Create KNN classifer object
KNN = KNeighborsClassifier()

# Train 
KNN = KNN.fit(X_train_binary,Y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test_binary)

knn_score = metrics.accuracy_score(Y_test, y_pred) *100

print(knn_score)

60.0

--------------------------

In [198]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train_binary,Y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test_binary)

det_score = metrics.accuracy_score(Y_test, y_pred) *100 
print(det_score)

50.0

In [199]:
# Hyperparameter Optimization
from sklearn.model_selection import GridSearchCV
parameters = { 
              'criterion': ['entropy', 'gini'],
              'max_depth': [2, 3, 5, 10, 50], 
              'min_samples_split': [2, 3, 50, 70],
              'min_samples_leaf': [1, 5, 8, 10]
             }

# Run the grid search
grid_obj = GridSearchCV(clf, parameters , cv = 5)
grid_obj = grid_obj.fit(X_train_binary,Y_train)

# Set the clf to the best combination of parameters
clf = grid_obj.best_estimator_

# Train the model using the training sets 
clf.fit(X_train_binary,Y_train)

DecisionTreeClassifier(max_depth=50)

In [200]:
# Prediction on test set
y_pred = clf.predict(X_test_binary)
acc_dt = round( metrics.accuracy_score(Y_test, y_pred) * 100, 2 )
print( 'Accuracy of Decision Tree model : ', acc_dt )

Accuracy of Decision Tree model :  60.0

--------------

In [216]:
import warnings 
warnings.filterwarnings('ignore')
import numpy as np
params_KNN = {'n_neighbors': [ 2, 3, 4, 5, 6, 7], 
              'p': [1, 2, 5]}

In [217]:
from sklearn.model_selection import GridSearchCV

gs_KNN = GridSearchCV(estimator=KNeighborsClassifier(), 
                      param_grid=params_KNN, 
                      cv=5,
                      verbose=1,  # verbose: the higher, the more messages
                      scoring='accuracy', 
                      return_train_score=True)

In [218]:
gs_KNN.fit(X_train_binary,Y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  90 out of  90 | elapsed:    7.7s finished

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [2, 3, 4, 5, 6, 7], 'p': [1, 2, 5]},
             return_train_score=True, scoring='accuracy', verbose=1)

In [219]:
gs_KNN.best_params_

{'n_neighbors': 4, 'p': 2}

In [220]:
knn_best = gs_KNN.best_score_ * 100
print(knn_best)

30.0